<% content_for :header_tags do %>
	<%= stylesheet_link_tag "relationship.less", rel: 'stylesheet/less', plugin: "redmine_relationship" %>
	<%= stylesheet_link_tag "font-awesome-4.3.0/css/font-awesome.min.css", plugin: "redmine_relationship" %>
	<%= javascript_include_tag "less.min.js", plugin: "redmine_relationship" %>
	<%= javascript_include_tag "jquery.min.js", plugin: "redmine_relationship" %>
	<%= javascript_include_tag "relationship.js", plugin: "redmine_relationship" %>
<% end %>
<h2><%= l('issues_control') %></h2>

<div class="issues_control">
	<div class="general-control">
		<div class="general-control-button disabled" data-type="related_by_number">
			<i class="fa fa-search"></i>
			<div class="description">Связанные по номеру задачи</div>
		</div>
		<div class="general-control-button disabled" data-type="show_closed">
			<i class="fa fa-unlock"></i>
			<div class="description">Показать/скрыть закрытые задачи</div>
		</div>		
		<div class="general-control-button disabled" data-type="return">
			<i class="fa fa-undo"></i>
			<div class="description">Вернуться к дереву</div>
		</div>
		<div class="general-control-button disabled" data-type="deselect">
			<i class="fa fa-close"></i>
			<div class="description">Отменить выбор</div>
		</div>
	</div>
	<div class="column left" data-side="left">
		<div class="control">
			<div class="control-button disabled" data-type="open">
				<i class="fa fa-external-link"></i>
				<div class="description">Открыть</div>
			</div>
			<div class="control-button disabled" data-type="related">
				<i class="fa fa-link"></i>
				<div class="description">Показать связанные</div>
			</div>
			<!--<div class="control-button disabled" data-type="parent_project">
				<i class="fa fa-sitemap"></i>
				<div class="description">Изменить родительский проект</div>
			</div>-->
			<div class="control-button disabled" data-type="parent_issue">
				<i class="fa fa-code-fork fa-rotate-180 fa-flip-horizontal"></i>
				<div class="description">Изменить родительскую задачу</div>
			</div>
			<!--<div class="control-button disabled" data-type="select">
				<i class="fa fa-check"></i>
				<div class="description">Выбрать</div>
			</div>-->

			<div class="title"></div>
		</div>
		<div class="tree"></div>
		<div class="related_issues"></div>
	</div>
	<div class="column right" data-side="right">
		<div class="control">
			<div class="control-button disabled" data-type="open">
				<i class="fa fa-external-link"></i>
				<div class="description">Открыть</div>
			</div>
			<div class="control-button disabled" data-type="related">
				<i class="fa fa-link"></i>
				<div class="description">Показать связанные</div>
			</div>
			<!--<div class="control-button disabled" data-type="parent_project">
				<i class="fa fa-sitemap"></i>
				<div class="description">Изменить родительский проект</div>
			</div>-->
			<div class="control-button disabled" data-type="parent_issue">
				<i class="fa fa-code-fork fa-rotate-180 fa-flip-horizontal"></i>
				<div class="description">Изменить родительскую задачу</div>
			</div>
			<!--<div class="control-button disabled" data-type="select">
				<i class="fa fa-check"></i>
				<div class="description">Выбрать</div>
			</div>-->

			<div class="title"></div>
		</div>
		<div class="tree"></div>
		<div class="related_issues"></div>
	</div>
</div>